html { position: relative; margin: 0; padding: 0; height: 100%; }
body { margin: 0; padding: 0; text-align: left; height: 100%; }
#imPageExtContainer {min-height: 100%; }
#imPageIntContainer { position: relative;}
#imPage { position: relative; width: 100%; }
#imHeaderBg { position: absolute; left: 0; top: 0; width: 100%; }
#imContent { position: relative; }
#imFooterBg { position: absolute; left: 0; bottom: 0; width: 100%; }
#imStickyBarContainer { visibility: hidden; position: fixed; overflow: hidden; }
#imPageToTop { position: fixed; bottom: 30px; right: 30px; z-index: 5000; display: none; opacity: 0.75 }
#imPageToTop:hover {opacity: 1; cursor: pointer; }
html { min-width: 1150px; }
#imPageExtContainer { background-image: none; background-color: rgba(62, 72, 89, 1); }
#imPage { padding-top: 0px; padding-bottom: 0px; min-width: 1150px; }
#imHeaderBg { height: 700px; background-image: none; background-color: transparent; }
#imHeader { background-image: url('dandelion-808255_1920-4-.jpg'); background-position: center center; background-repeat: no-repeat; background-attachment: scroll; background-color: transparent; }
#imHeaderObjects { margin-left: auto; margin-right: auto; position: relative; height: 700px; width:1150px; }
#imContent { align-self: start; padding: 5px 0 5px 0; }
#imContentGraphics { min-height: 820px; background-image: none; background-color: rgba(255, 255, 255, 1); }
#imFooterBg { height: 200px; background-image: none; background-color: transparent; }
#imFooter { background-image: none; background-color: rgba(35, 54, 68, 1); }
#imFooterObjects { margin-left: auto; margin-right: auto; position: relative; height: 200px; width:1150px; }
#imSideBar { background-image: none; background-color: transparent; overflow: visible; zoom: 1; z-index: 200; }
#imSideBarObjects { position: relative; height: 820px; }
